html, body {
    margin: 0;
    height: 100%;
}
body {
    box-sizing: border-box;
    background: white;
    font-family: sans-serif;
}
.wrapper {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    background: rgb(223, 216, 187);
    position: relative;
}
.menu {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu a {
    text-decoration: none;
    color: #1c1c1c;
}
.menu .logo {
    padding: 25px 40px;
    background: rgb(45, 99, 1);
    color: white;
    font-weight: 700;
    letter-spacing: .2rem;
    margin-top: 15px;
}
img {
    width: 26%;
    height: auto;
}
.container {
    display: flex;
    margin-top: 6rem;
    margin-left: 5rem;
}
.text {
    width: 500px;
    align-self: center;
    margin-left: 4rem;
    color: #1c1c1c;
}
h2 {
    font-size: 2.2rem;
}
hr {
    width: 495px;
    color: #1c1c1c;
}
.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}
.plus {
    font-size: 20px;
    background: rgb(45, 99, 1);
    color: white;
    padding: 15px 18px;
    border-radius: 50%;
}
.heart {
    font-size: 20px;
    background: rgb(255, 255, 255);
    color: #1c1c1c;
    padding: 15px 18px;
    border-radius: 50%;
}
.greenbar {
    height: 100vh;
    width: 70px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(45, 99, 1);
}
.new-plants {
    position: absolute;
    top: 45rem;
    right: 8rem;
    display: flex;
}
.left {
    width: 260px;
    height: 170px;
    background: white;
    margin: 10px;
    border-radius: 20px;
    display: flex;
}
.right {
    width: 260px;
    height: 170px;
    background: white;
    margin: 10px;
    border-radius: 20px;
    display: flex;
}
.left img {
    width: 40%;
    height: auto;
    float: right;
    margin-right: 15px;
}
.right img {
    width: 40%;
    height: auto;
    float: right;
    margin-right: 15px;
    margin-top: 12px;
}
.new-plant-text {
    margin-left: 15px;
    margin-right: 20px;
}
.social {
    float: right;
    font-size: 30px;
    color: white;
}
.social i {
    margin-right: 15px;
}
